<% if flash.count.positive? %>
  <div class="panel">
    <p id="notice">
      <%= notice %>
    </p>
  </div>
<% end %>

<div class="panel">
  <h1>INDEX DE ITEMS</h1>

  <table class="table">
    <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th />
    </tr>
    </thead>
    <tbody>
    <% @wallets.each do |wallet| %>
      <tr>
        <td><%= wallet.id %></td>
        <td><%= wallet.name %></td>
        <td style="text-align: right">
          <%= link_to 'Excluir', wallet, class: 'button', method: :delete, data: { confirm: 'Você tem certeza?'} %>
          <%= link_to 'Editar', edit_wallet_path(wallet), class: 'button' %>
          <%= link_to 'Ver', wallet, class: 'button' %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
  <div class="table-footer">
    <%= link_to 'Adicionar', new_wallet_path, class: 'button' %>
  </div>
</div>
